#title {
    height: 75px;
    background-color: midnightblue;
    color: #dff0d8;
    font-style: italic;
    font-family: "Comic Sans MS";
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

#board {
    border-style: solid;
    border-width: 5px;
    border-color: #761c19;
}

@media all and (min-width: 320px) and (max-width: 1200px) {

    .white-box {
        background-color: #e6ccb3;
        width: 75px;
        height: 75px;
    }

    .black-box {
        background-color: #737373;
        width: 75px;
        height: 75px;
    }

    .div-letter {
        background-color: #8a6d3b;
        font-family: "Comic Sans MS";
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        width: 75px;
        height: 10px;
    }

    .div-number {
        background-color: #8a6d3b;
        padding-top: 30px;
        font-family: "Comic Sans MS";
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        width: 10px;
        height: 75px;
    }

    .coner-div {
        background-color: #8a6d3b;
        width: 10px;
        height: 10px;
    }

    .div-cross {
        position: relative;
        height: 75px;
        width: 75px;
        border: solid;
        border-width: 2px;
        border-color: #761c19;
    }

    #footer-image {
        height: 40px;
        width: 260px;
        margin-left: 37%;
    }
}

@media all and (min-width: 1200px) and (max-width: 1920px) {

    .white-box {
        background-color: #e6ccb3;
        width: 90px;
        height: 90px;
    }

    .black-box {
        background-color: #737373;
        width: 90px;
        height: 90px;
    }

    .div-letter {
        background-color: #8a6d3b;
        font-family: "Comic Sans MS";
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        width: 90px;
        height: 25px;
    }

    .div-number {
        background-color: #8a6d3b;
        padding-top: 35px;
        font-family: "Comic Sans MS";
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        width: 25px;
        height: 90px;
    }

    .coner-div {
        background-color: #8a6d3b;
        width: 25px;
        height: 25px;
    }

    .div-cross {
        position: relative;
        height: 90px;
        width: 90px;
        border: solid;
        border-width: 2px;
        border-color: #761c19;
    }

    #footer-image {
        height: 40px;
        width: 260px;
        margin-left: 43%;
    }
}

.score-table {
    border: solid;
    border-color: #761c19;
    border-width: 5px;
}

.draggable {
    z-index: 1;
    background-size: contain;
    box-sizing: inherit;
    align-self: auto;
}

.chessPiece:hover {
    -webkit-box-shadow: inset 0px 0px 10px 10px #00ffff;
    box-shadow: inset 0px 0px 10px 10px #00ffff;
}

.path {
    -webkit-box-shadow: inset 0px 0px 10px 10px #40ff00;
    box-shadow: inset 0px 0px 10px 10px #40ff00;
}

.cross {
    -webkit-box-shadow: inset 0px 0px 10px 10px #ff3333;
    box-shadow: inset 0px 0px 10px 10px #ff3333;
}

.inner {
    left: 0;
    width: 100%;
    height: 100%;
}

.rotate {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#board {
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.team-name {
    text-align: center;
    font-size: 35px;
    font-family: "Comic Sans MS";
    color: white;
    background-color: #761c19;
}

#footer {
    background-color: #761c19;
    opacity: 0.8;
    height: 120px;
    margin-top: 20px;
}

#footer-text {
    font-size: 30px;
    font-family: "Candara";
    color: white;
    text-align: center;
}

#footer-copyright {
    font-size: 15px;
    font-family: "Candara";
    color: white;
    text-align: center;
}