#title {
    height: 75px;
    background-color: midnightblue;
    color: #dff0d8;
    font-style: italic;
    font-family: "Comic Sans MS";
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.div-letter{
    background-color: #8a6d3b;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.background-colour {
    background-color: #9acfea;
}

#board{
    border-style: solid;
    border-width: 5px;
    border-color: #8a6d3b;
}

.white-box {
    background-color: #e6ccb3;
    width: 90px;
    height: 90px;
}

.black-box {
    background-color: #737373;
    width: 90px;
    height: 90px;
}

.score-table{
    border: solid;
    border-color: #761c19;
    border-width: 5px;
}

.draggable {
    z-index: 1;
    background-size: contain;
    box-sizing: inherit;
    align-self: auto;
}

.color-selected-div {
    -webkit-box-shadow: inset 0px 0px 15px 15px #761c19;
    box-shadow: inset 0px 0px 5px 2px #761c19;
}

.chessPiece:hover {
    -webkit-box-shadow: inset 0px 0px 15px 15px yellow;
    box-shadow: inset 0px 0px 12px 12px yellow;
}

.path {
    -webkit-box-shadow: inset 0px 0px 15px 15px green;
    box-shadow: inset 0px 0px 12px 12px green;
}

.cross {
    -webkit-box-shadow: inset 0px 0px 15px 15px red;
    box-shadow: inset 0px 0px 12px 12px red;
}

.inner {
    left: 0;
    width: 100%;
    height: 100%;
}

/*div > div > div > div > div > div > {
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
}*/

.rotate {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#board {
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*.div-cross {
    position: relative;
    width: 60px !important;
    height: 60px !important;
    text-align: center;
    float: left;
}*/

.div-cross {
    position: relative;
    height: 90px;
    width: 90px;
    border: solid;
    border-width: 1px;
    border-color: #761c19;
}

.team-name {
    text-align: center;
    font-size: 40px;
    font-family: "Comic Sans MS";
    padding-top: 100px;
}